@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15%;  
    background-color: #1f2937;  
    color: white;
}

header h2 {
    font-size: 24px;
    color: #f9faf8;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;  
    color: white;
    padding: 70px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    width: 470px;
}

.hero-content h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.signup-btn {
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    padding: 10px 35px;
    color: white;
    font-size: 18px;
    font-weight: bold;    
}

.hero-img {
    width: 600px;
}

.img-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
}

.img-items h2 {
    margin-bottom: 30px;
    font-size: 36px;
    color: #1f2937;
}

.img-cont {
    display: flex;
    gap: 30px;
}

.img-cont .card {
    width: 220px;  
    text-align: center;
}

.img-cont img{
    width: 220px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.quote-cont {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 70px 0;   
}

.quote-cont div {
    width: 830px;
}

.quote-cont .quote {
    font-size: 38px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
    margin-bottom: 20px;
}

.quote-cont .author {
   color: #1f2937;
   font-size: 22px;
   text-align:end;
   font-weight: bold;
}

.action-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.action-cont > div {
    background-color: #3882f6;
    display: flex;
    padding: 50px 70px;
    border-radius: 10px;
    color: white;
    justify-content: space-between;
    width: 930px;
    align-items: center;
}

.action-cont .signup-btn {
    border: 3px solid white;
    font-size: 17px;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 40px;
}